main {
    padding: 150px 20px;
  }
  img {
    max-width: 100%;
  }
  footer {
    font-size: 10px;
    margin: 5em auto;
  }
  a.entrance {
    display: inline-block;
    max-width: 300px;
    margin: 0.5em;
  }
  a.entrance img {
    transition: all 0.25s ease;
  }
  a.entrance:hover img {
    scale: 1.05;
  }

.box-home {
    max-width: 300px;
    margin: 0.5em;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }

.block {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 14px; 
    color: #fff; 
    background-color: #AAA8A8; 
    text-align: center;
}